:root {
    --page-background: #E6E6E6;
    --navbar-background: #F0F0F0;
    --design-icon: #E6563B;
    --develop-icon: #EB9D3A;
    --support-icon: #7CB06c;
    --host-icon: #00ABA9;
}

body {
    background-color: var(--page-background);
}

nav {
    background-color: var(--navbar-background);
}

#design {
    font-family: 'Abel', sans-serif;
    font-weight: lighter;
}

#nav-font {
    font-family: 'Abel', sans-serif;
}

#logo {
    display: flex;
    z-index: 1000;
}

.design-button {
    background: var(--design-icon);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 10px solid white;
    font-family: 'Anton', sans-serif;
    font-size: 28px;
    /*color: white;*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*box-sizing: border-box;*/
    /*!*!*height: 250px;*!*!*/
    /*!*font-weight: bold;*!*/
    /*!*!*width: 150px;*!*!*/
    /*display: block;*/
    /*margin: 20px auto;*/

}

.develop-button {
    background: var(--develop-icon);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 10px solid white;
    font-family: 'Anton', sans-serif;
    font-size: 28px;
    /*height: 200px;*/
    /*font-weight: bold;*/
    /*width: 200px;*/
    /*!*display: table;*!*/
    /*margin: 20px auto;*/
    /*box-sizing: border-box;*/
    /*display: block;*/

}

.support-button {
    background: var(--support-icon);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 10px solid white;
    font-family: 'Anton', sans-serif;
    font-size: 28px;

}

.host-button {
    background: var(--host-icon);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 10px solid white;
    font-family: 'Anton', sans-serif;
    font-size: 28px;
}

.featured-projects {
    font-family: 'Abel', sans-serif;
}

.small-img {
    width: 50px;
    height: 50px;
}

p {
    font-family: 'Abel', sans-serif;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 64px;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 48px;
}

h3 {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

h4 {
    font-family: 'Anton', sans-serif;
    font-size: 32px;
}

h5 {
    font-family: 'Anton', sans-serif;
    font-size: 28px;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    color: black;
    text-align: center;
}

.dot-1 {
    background: var(--design-icon);
    border-radius: 100%;
    height: 18px;
    width: 18px;
    font-family: 'Anton', sans-serif;
    font-size: 10px;
    padding-top: 2px;
}

.dot-2 {
    background: var(--develop-icon);
    border-radius: 100%;
    height: 18px;
    width: 18px;
    font-family: 'Anton', sans-serif;
    font-size: 10px;
    padding-top: 2px;
}

.dot-3 {
    background: var(--support-icon);
    border-radius: 100%;
    height: 18px;
    width: 18px;
    font-family: 'Anton', sans-serif;
    font-size: 10px;
    padding-top: 2px;
}

.dot-4 {
    background: var(--host-icon);
    border-radius: 100%;
    height: 18px;
    width: 18px;
    font-family: 'Anton', sans-serif;
    font-size: 10px;
    padding-top: 2px;
}

#custom-col-padding {
    margin-top: 40px;
}

.figure {
    margin-right: auto;
    margin-left: auto;
}

